@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

body {
  background: #f1f1f1;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}
.container {
  max-width: 800px;
  margin: auto;
}

.info p{
    color: #444444;
}
.info{
    display: flex;
    margin-bottom: 20px;
}
.info-text{
    margin-left: 20px;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.card {
  padding: 20px 15px;
  margin-bottom: 15px;
  border-radius: 25px;
}

.list {
  padding: 0 20px;
}
.list li {
  color: #86898f;
  margin-bottom: 15px;
}

.table {
  width: 100%;
}
.table td {
  padding-bottom: 15px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  text-align: center;
  color: #86898f;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #444444;
  text-decoration: underline;
}

.youtube {
  padding: 10px 20px;
}

.avatar {
  width: 250px;
  border-radius: 30px;
}

.contact h2 {
  text-align: center;
}

.form label {
  display: block;
  color: #86898f;
  font-size: 14px;
}
.form input,
.form textarea {
  font-family: "Comfortaa";
  width: 100%;
  border: none;
  border-bottom: 1px solid #a7aaaf;
  background: transparent;
  padding: 15px 0px 10px;
}
.form textarea{
    margin-bottom: 20px;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form {
  width: 50%;
  margin-right: 20px;
}
.row > .form:last-child {
  margin-right: 0px;
}

.button{
    background: rgb(100,100,100);
    width: 100%;
    padding: 50px 0px;
    border: none;
    font-family: "Comfortaa";
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
}
.button:hover{
    background: rgb(85, 85, 85);
}
.button:active{
    background: rgb(66, 66, 66);
}